* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #000;
}

h1 {
  color: #fff;
}

.nav-con {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-list a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
}
